
.speakerCardWrapper{
    padding: 100px; 
}

.speakerCard{
    padding: 60px;
}

.speakerCard > *{
    margin-bottom: 30px;
}

.img-thumbnail{
    border: none;
    border-radius: 16px;
}
.jumbotron{
    /* THIS IS FULL SCREEN HEIGHT */
    /* height: calc(100vh - 40px); */
    height: 35vh;

    background-color: gray;
}

.nav-link {
color: black;
}

.ticketSection{
    padding: 50px;
}
/* give p a sep class and do margin top/botton*/
.venue{
    padding-left: 100px;
}
/* give map an id and size */